* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Barlow', sans-serif;
    background: #E0E0E0;
    color: #424242;
    font-weight: 300;
}
#container{
	width: 1000px;
	height: 550px;
	margin: 20px auto;	
}
#calculator{
	width: 100%;
    max-width: 300px;
    height: 550px;
    background: #F5F5F5;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 0px 14px 76px -4px rgba(189,189,189,1);
}
#result{
	text-align: right;
    height: 200px;
}
#history{
    font-size: 20px;
    position: relative;
    top: 90px;
    right: 20px;
}
#output{
	position: relative;
    top: 110px;
    right: 20px;
    font-weight: 600;
    font-size: 35px;
}
#keyboard{
	height: 350px;
    border-radius: 0 0 15px 15px;
    background: #FAFAFA;
    padding: 30px 25px 10px 25px;
    text-align: center;
    color: #001833;
}
.operator, .number, .empty{
    border: none;
    border-radius: 99px;
    font-size: 20px;
    padding: 10px 15px;
    margin: 10px 5px 0 0;
    width: 45px;
    height: 45px;
    background: none;
    outline: none;
    transition: all .3s;
}
.number, .empty{
	background-color: #FAFAFA;
}
.number, .operator{
	cursor: pointer;
}
.number:hover , .operator:hover {
    background: #EEEEEE;
}
.top .opr, #time, #minus, #equal, #plus {
    color: #465064;
}
.numbers {
    margin: auto 20px;
}
.equal {
    background: #2a6dff !important;
    color: #fff !important;
}
